<section id="newfeed-view" class="mainbar">
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row">
          <!-- <div class="col-lg-3 col-md-4 pd-left-none">
            <div class="main-left-newfeed no-margin">
              <div class="user-data full-width">
                <div class="user-profile">
                  <div class="username-imageThum">
                    <div class="usr-pic">
                      <img src="images/user-pic.png">
                    </div>

                  </div>
                  <div class="user-spec">
                    <h3>Anhs Truongw</h3>
                    <span>Chasn moji thuws</span>
                  </div>
                </div>
                <ul class="user-fw-status">
                  <li>
                    <h4>Người đang theo dõi</h4>
                    <span>162</span>
                  </li>
                  <li>
                    <h4>Người theo dõi</h4>
                    <span>162</span>
                  </li>
                  <li>
                    <a href="#">Xem thông tin cá nhân</a>
                  </li>
                </ul>
              </div>
              <div class="suggestions full-width">
                <div class="sd-title">
                  <h3>Bạn bè đề xuất</h3>
                  <i class="fa fa-ellipsis-v"></i>
                </div>
                <div class="suggestion-list">
                  <div class="suggestion-item">
                    <img src="images/user-pic.png">
                    <div class="sgt-text">
                      <h4>Anh truong</h4>
                      <span>chan chet</span>
                    </div>
                    <span>
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                  <div class="suggestion-item">
                    <img src="images/user-pic.png">
                    <div class="sgt-text">
                      <h4>Anh truong</h4>
                      <span>chan chet</span>
                    </div>
                    <span>
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                  <div class="suggestion-item">
                    <img src="images/user-pic.png">
                    <div class="sgt-text">
                      <h4>Anh truong</h4>
                      <span>chan chet</span>
                    </div>
                    <span>
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                  <div class="suggestion-item">
                    <img src="images/user-pic.png">
                    <div class="sgt-text">
                      <h4>Anh truong</h4>
                      <span>chan chet</span>
                    </div>
                    <span>
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                  <div class="suggestion-item">
                    <img src="images/user-pic.png">
                    <div class="sgt-text">
                      <h4>Anh truong</h4>
                      <span>chan chet</span>
                    </div>
                    <span>
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                  <div class="suggestion-item">
                    <img src="images/user-pic.png">
                    <div class="sgt-text">
                      <h4>Anh truong</h4>
                      <span>chan chet</span>
                    </div>
                    <span>
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                  <div class="view-more">
                    <a href="#">Xem thêm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8">
            <div class="main-ws-sec">
              <div class="post-topbar">
                <ul>
                  <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href = "#sharePost">
                      <i class="fa fa-edit"></i>
                      Chia sẻ bài viết
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href = "#upload_image">
                      <i class="fa fa-image"></i>
                      Tải hình ảnh
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">
                      <i class="fa fa-file-video-o"></i>
                      Tải video
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="sharePost">
                    <div class="d-flex p-3 align-items-center w-100">
                      <div class="dropdown-list-image mr-3">
                        <img src="images/user-pic.png" width="40" height="40" class="rounded-circle">
                        <div class="status-indicator"></div>
                      </div>
                      <div class="w-100">
                        <textarea placeholder="Hôm nay bạn thế nào?" class="form-controls border-0 p-0 shadow-none" rows="1"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="upload_image">
                    <div class="p-3 w-100">
                      <textarea placeholder="Hôm nay bạn thế nào?" class="form-controls border-0 p-0 shadow-none" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="tab-pane" id="contact">
                    <div class="p-3 w-100">
                      <textarea placeholder="Hôm nay bạn thế nào?" class="form-controls border-0 p-0 shadow-none" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <div class="border-top p-3 d-flex align-items-center">
                  <div class="mr-auto">
                    <a href="#" class="text-link">
                      <i class="fa fa-map-marker"></i>
                      Thêm vị trí
                    </a>
                  </div>
                  <div class="flex-shrink-1">
                    <button type="button" class="btn btn-preview btn-sm">Xem thử</button>
                    <button type="button" class="btn btn-post btn-sm">Đăng</button>
                  </div>
                </div>
              </div>
              <div class="post-section">
                <div class="post-bar">
                  <div class="post-topbar">
                    <div class="usy-dt">
                      <img src="images/user-pic.png" width="50" height="50">
                      <div class="usy-name">
                        <h3>Anh Truong</h3>
                        <span>
                          <i class="fa fa-clock-o"></i>
                          3 phút trước
                        </span>
                      </div>
                    </div>
                    <div class="ed-opts">
                      <a href="#" class="ed-opts-open">
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                    </div>
                  </div>
                  <div class="post-content">
                    <p class="post-desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt amet modi facere omnis provident doloremque voluptatum! Nostrum sapiente dolorum sunt, hic quas laboriosam tempora minima deleniti nemo magni rerum voluptatibus?
                    </p>
                    <div class="post-thumb-gallery">
                      <a>
                        <img src="images/banner-small.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="post-meta">
                    <button class="post-meta-like">
                      <i class="fa fa-heartbeat"></i>
                      <span>Bạn và 1 người khác đã thích</span>
                    </button>
                    <ul class="comment-share-meta">
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-comments-o"></i>
                          <span>41</span>
                        </button>
                      </li>
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-share"></i>
                          <span>01</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="post-section">
                <div class="post-bar">
                  <div class="post-topbar">
                    <div class="usy-dt">
                      <img src="images/user-pic.png" width="50" height="50">
                      <div class="usy-name">
                        <h3>Anh Truong</h3>
                        <span>
                          <i class="fa fa-clock-o"></i>
                          3 phút trước
                        </span>
                      </div>
                    </div>
                    <div class="ed-opts">
                      <a href="#" class="ed-opts-open">
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                    </div>
                  </div>
                  <div class="post-content">
                    <p class="post-desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt amet modi facere omnis provident doloremque voluptatum! Nostrum sapiente dolorum sunt, hic quas laboriosam tempora minima deleniti nemo magni rerum voluptatibus?
                    </p>
                    <div class="post-thumb-gallery">
                      <a>
                        <img src="images/banner-small.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="post-meta">
                    <button class="post-meta-like">
                      <i class="fa fa-heartbeat"></i>
                      <span>Bạn và 1 người khác đã thích</span>
                    </button>
                    <ul class="comment-share-meta">
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-comments-o"></i>
                          <span>41</span>
                        </button>
                      </li>
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-share"></i>
                          <span>01</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="post-section">
                <div class="post-bar">
                  <div class="post-topbar">
                    <div class="usy-dt">
                      <img src="images/user-pic.png" width="50" height="50">
                      <div class="usy-name">
                        <h3>Anh Truong</h3>
                        <span>
                          <i class="fa fa-clock-o"></i>
                          3 phút trước
                        </span>
                      </div>
                    </div>
                    <div class="ed-opts">
                      <a href="#" class="ed-opts-open">
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                    </div>
                  </div>
                  <div class="post-content">
                    <p class="post-desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt amet modi facere omnis provident doloremque voluptatum! Nostrum sapiente dolorum sunt, hic quas laboriosam tempora minima deleniti nemo magni rerum voluptatibus?
                    </p>
                    <div class="post-thumb-gallery">
                      <a>
                        <img src="images/banner-small.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="post-meta">
                    <button class="post-meta-like">
                      <i class="fa fa-heartbeat"></i>
                      <span>Bạn và 1 người khác đã thích</span>
                    </button>
                    <ul class="comment-share-meta">
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-comments-o"></i>
                          <span>41</span>
                        </button>
                      </li>
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-share"></i>
                          <span>01</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="post-section">
                <div class="post-bar">
                  <div class="post-topbar">
                    <div class="usy-dt">
                      <img src="images/user-pic.png" width="50" height="50">
                      <div class="usy-name">
                        <h3>Anh Truong</h3>
                        <span>
                          <i class="fa fa-clock-o"></i>
                          3 phút trước
                        </span>
                      </div>
                    </div>
                    <div class="ed-opts">
                      <a href="#" class="ed-opts-open">
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                    </div>
                  </div>
                  <div class="post-content">
                    <p class="post-desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt amet modi facere omnis provident doloremque voluptatum! Nostrum sapiente dolorum sunt, hic quas laboriosam tempora minima deleniti nemo magni rerum voluptatibus?
                    </p>
                    <div class="post-thumb-gallery">
                      <a>
                        <img src="images/banner-small.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="post-meta">
                    <button class="post-meta-like">
                      <i class="fa fa-heartbeat"></i>
                      <span>Bạn và 1 người khác đã thích</span>
                    </button>
                    <ul class="comment-share-meta">
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-comments-o"></i>
                          <span>41</span>
                        </button>
                      </li>
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-share"></i>
                          <span>01</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 pd-right-none">
            <div class="right-sidebar">
              <div class="widget widget-about">
                <div class="icons-block">
                  <i class="fa fa-birthday-cake"></i>
                  <a><i class="fa fa-ellipsis-h"></i></a>
                </div>
                <div class="content">
                  <div class="author-thumb">
                    <img src="/images/user-pic.png">
                  </div>
                  <span>Hôm nay là</span>
                  <a class="h4 title">Sinh nhật của Như Ý</a>
                  <p> Hãy để lại cho cô ấy lời chúc trên trang cá nhân của cô ấy!</p>
                </div>
              </div>
              <div class="widget widget-page">
                <div class="widget-page-title">
                  <h6>Trang bạn có thể thích</h6>
                  <a>
                    <i class="fa fa fa-ellipsis-h"></i>
                  </a>
                </div>
                <ul class="widget-page-list">
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon active">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-lg-9 col-md-12 pd-left-none">
            <div class="main-ws-sec">
              <div class="post-topbar">
                <!-- <ul>
                  <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href = "#sharePost">
                      <i class="fa fa-edit"></i>
                      Chia sẻ bài viết
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href = "#upload_image">
                      <i class="fa fa-image"></i>
                      Tải hình ảnh
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">
                      <i class="fa fa-file-video-o"></i>
                      Tải video
                    </a>
                  </li>
                </ul> -->
                <div>
                  <div id="sharePost">
                    <div class="d-flex p-3 w-100">
                      <div class="dropdown-list-image mr-3">
                        <img src="images/user-pic.png" width="40" height="40" class="rounded-circle">
                        <div class="status-indicator"></div>
                      </div>
                      <div class="w-100">
                        <textarea placeholder="Hôm nay bạn thế nào?" class="form-controls border-0 p-0 shadow-none" rows="1"
                        ng-click="vm.OpenPost()"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="tab-pane" id="upload_image">
                    <div class="p-3 w-100">
                      <textarea placeholder="Hôm nay bạn thế nào?" class="form-controls border-0 p-0 shadow-none" rows="3"></textarea>
                    </div>
                  </div> -->
                  <!-- <div class="tab-pane" id="contact">
                    <div class="p-3 w-100">
                      <textarea placeholder="Hôm nay bạn thế nào?" class="form-controls border-0 p-0 shadow-none" rows="3"></textarea>
                    </div>
                  </div> -->
                </div>
                <!-- <div class="border-top p-3 d-flex align-items-center">
                  <div class="mr-auto">
                    <a href="#" class="text-link">
                      <i class="fa fa-map-marker"></i>
                      Thêm vị trí
                    </a>
                  </div>
                  <div class="flex-shrink-1">
                    <button type="button" class="btn btn-preview btn-sm">Xem thử</button>
                    <button type="button" class="btn btn-post btn-sm">Đăng</button>
                  </div>
                </div> -->
              </div>
              <div class="post-section">
                <div class="post-bar">
                  <div class="post-topbar">
                    <div class="usy-dt">
                      <img src="images/user-pic.png" width="50" height="50">
                      <div class="usy-name">
                        <h3>Anh Truong</h3>
                        <span>
                          <i class="fa fa-clock-o"></i>
                          3 phút trước
                        </span>
                      </div>
                    </div>
                    <div class="ed-opts">
                      <a href="#" class="ed-opts-open">
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                    </div>
                  </div>
                  <div class="post-content">
                    <p class="post-desc">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt amet modi facere omnis provident doloremque voluptatum! Nostrum sapiente dolorum sunt, hic quas laboriosam tempora minima deleniti nemo magni rerum voluptatibus?
                    </p>
                    <div class="post-thumb-gallery">
                      <a>
                        <img src="images/banner-small.jpg">
                      </a>
                    </div>
                  </div>
                  <div class="post-meta">
                    <button class="post-meta-like">
                      <i class="fa fa-heartbeat"></i>
                      <span>Bạn và 1 người khác đã thích</span>
                    </button>
                    <ul class="comment-share-meta">
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-comments-o"></i>
                          <span>41</span>
                        </button>
                      </li>
                      <li>
                        <button class="post-comment">
                          <i class="fa fa-share"></i>
                          <span>01</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 pd-right-none">
            <div class="right-sidebar">
              <div class="widget widget-about">
                <div class="icons-block">
                  <i class="fa fa-birthday-cake"></i>
                  <a><i class="fa fa-ellipsis-h"></i></a>
                </div>
                <div class="content">
                  <div class="author-thumb">
                    <img src="/images/user-pic.png">
                  </div>
                  <span>Hôm nay là</span>
                  <a class="h4 title">Sinh nhật của Như Ý</a>
                  <p> Hãy để lại cho cô ấy lời chúc trên trang cá nhân của cô ấy!</p>
                </div>
              </div>
              <div class="widget widget-page">
                <div class="widget-page-title">
                  <h6>Trang bạn có thể thích</h6>
                  <a>
                    <i class="fa fa fa-ellipsis-h"></i>
                  </a>
                </div>
                <ul class="widget-page-list">
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon active">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                  <li class="inline-items">
                    <div class="author-thumb">
                      <img src="images/user-pic.png">
                    </div>
                    <div class="notified-event">
                      <a class="h6"> The Marina Bar</a>
                      <span>Du lịch</span>
                    </div>
                    <div class="notified-icon">
                      <button>
                        <img class="heart" src="images/heart.png">
                        <img class="heart-color" src="images/heart-color.png">
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- dialog -->
<script type="text/ng-template" id="OpenPost.html">
  <div class="model-content">
    <div class="modal-header">
      <h3>Bài Viết Mới</h3>
      <button type="button" ng-click="vm.cancel()">
        <span>x</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea name="share" placeholder="Mô tả..." ng-required="required"></textarea>
      <div class="row" style="margin-top:15px !important">
        <div class="col-6" ng-file-upload>
          <label for="filepost" style="left: 15px;">
            <i class="fa fa-file-photo-o"></i>
          </label>
          <input type="file" id="filepost" style="display:none !important" multiple="true" ng-model="vm.images" accept="image/*"
          onchange="angular.element(this).scope().SelectFile(event)">
          <label for="filepost" class="upload-image" >Tải hình lên</label>
        </div>
        <div class="col-6 pl-4">
          <label for="hashtagPost" style="padding-left: 10px;">
            <i class="fa fa-hashtag"></i>
          </label>
          <input type="text" placeholder="Nhập tìm kiếm tag" id="hashtagPost">
          <!-- <ul class="dropdown-menu"> -->
        </div>
      </div>
      <ol style="padding: 0px;margin-top: 20px !important;list-style-type: none;" class="row">
        <li ng-repeat="img in vm.PreviewImage" class="col-4 mb-5">
          <img ng-src="{{img}}" width="100%" ng-click="vm.ZoomImage(img)" style="cursor:pointer;">
        </li>
      </ol>
    </div>
    <div class="modal-footer d-flex align-items-center">
      <div class="mr-auto">
        <a href="#" class="text-link">
          <i class="fa fa-map-marker"></i>
          Thêm vị trí
        </a>
      </div>
      <button type="button" class="btn btn-post btn-sm">Đăng</button>
    </div>
  </div>
  <div class="picModal" ng-show="vm.myZoom" ng-click="vm.closeZoomFunct()">
    <span class="closePic" ng-click="vm.closeZoomFunct()">&times</span>
    <img class="zoomPic" ng-src="{{vm.zoomImg}}">
  </div>
</script>
